{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} Universal Chat {% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="user-interface">
    {% for message in messages %}
      <div {% if g.user['username'] == message['sender'] %} class="usersmessage" {% else %} class="message" {% endif %}>
        <div>
          <p class="msg-body">{{ message['msg'] }}</p>
          <p class="msg-info">by <span class="message-sender">{{ message['sender'] }} </span> at {{ message['time_sent'].strftime("%I:%M") }}</p>
        </div>
      </div>
      <br>
    {% endfor %}
    <form class="message-controls" method="post">
      <input type="text" name="messagebox" id="messagebox">
      <input id="sendmessagebutton" type="submit" value="send">
    </form>
  </div>
{% endblock %}




