{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} Universal Chat {% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="main-container">
    <div class="user-list">
      <div class="online-users">
        <h3>Online Users</h3>
        {% for user in onlineUsers %}
          <div class="online-user">
            <span class="onlineStatus online"></span>
            {{ user['username'] }}
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="right-container">
      <div class="chat-container" id="chat-container">
        {% for message in messages %}
          <div {% if g.user['username'] == message['sender'] %} class="message users-message" {% else %} class="message" {% endif %}>
            <div class="user-msg-info">
             <!-- <img src="{{ message['profile_img_url'] }}"> -->
				 	    <img src="https://www.fillmurray.com/50/50">
				 	    <p> {{ message['sender'] }} </p>
				    </div>
				    <div class="message-detail">
				 	    <p {% if g.user['username'] == message['sender'] %} class="users-msg-body" {% else %} class="msg-body" {% endif %}>{{ message['msg'] }}</p>
              <p class="msg-time">{{ message['time_sent'].strftime("%I:%M") }}</p>
            </div>
       	  </div>
        {% endfor %}
      </div>
      <form class="message-controls" method="post">
        <input type="text" name="messagebox" id="messagebox" autocomplete="off" autocapitalize="off" autofocus>
        <input id="sendmessagebutton" type="submit" value="send">
      </form>
    </div>
    
  </div>
{% endblock %}




